:root {
  --primary-green: #b3de8e;
  --primary-info: rgb(147, 147, 147);
  --background-color: #161414;
  --primary-text: rgb(129, 129, 129);
  --primary-important: #e9e9e9;
}

/* Top sektion */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--background-color);
}
header {
  background-color: #212121;
}
#main-header ul {
  display: flex;
  list-style: none;
  margin: 0;
}
#main-header a:hover {
  color: var(--primary-important);
}

#topline {
  grid-area: top;
  display: flex;
  padding-top: 8px;
  padding-bottom: 6px;
  justify-content: space-between;
  font-size: 0.7rem;
}
#topline ul {
  display: flex;
  gap: 1.5rem;
}

#topline a {
  color: var(--primary-info);
}
#fblogo {
  grid-area: SM;
  width: 20px;
  border-radius: 22%;
}
#inlogo {
  width: 20px;
  border-radius: 22%;
}

#phoneicon {
  width: 15px;
  height: 15px;
}
#topline .right {
  display: flex;
  margin-right: 2.3rem;
  padding: 0;
  align-items: center;
}
.topline .left {
  display: flex;
}
nav a {
  text-decoration: none;
}

#main-nav {
  grid-area: main;
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  align-items: center;
}
#main-nav li {
  display: flex;
}
#logo {
  display: flex;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

#main-nav a {
  color: var(--primary-text);
}
#main-nav a.active {
  color: var(--primary-important);
  cursor: default;
  pointer-events: none;
}

nav p {
  margin: 0;
  font-weight: bold;
  color: var(--primary-important);
  padding-top: 0.6rem;
  padding-left: 0rem;
}

#main-nav .midt {
  justify-items: center;
}

#main-nav .midt ul {
  display: flex;
  gap: 2.5rem;
  padding: 0px;
}

.buttons {
  display: flex;
  gap: 2rem;
  margin-left: auto;
  margin-right: 2rem;
}

.btn {
  border-radius: 999px;
  border: none;
  padding: 0.45rem 1.4rem;
  cursor: pointer;
  color: white;
}
.btn:hover {
  transform: translateY(-2.2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.884);
}

.btn-first {
  background: linear-gradient(to right, #b3de8e, #448709);
}
.btn-first:hover {
  background: linear-gradient(to right, #448709, #b3de8e);
}
.btn-second {
  background: linear-gradient(to right, #0990fe, #0239a8);
}
.btn-second:hover {
  background: linear-gradient(to right, #0239a8, #0990fe);
}

/* Main sektionen herunder */

#container {
  display: grid;
  grid-template-columns: 0.7fr repeat(6, 1fr) 0.7fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    ". . s . a a . ."
    ". . . . a a . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . . . . . . .";

  margin-top: 15px;
  min-height: 85vh;
}
.profilepic {
  z-index: 10;
  position: absolute;
  transform: translateY(-98%);
  top: 0;
  left: 60%;
}
.profilepic img {
  width: 200px;
  height: 200px;
  filter: contrast(1.3) drop-shadow(20px 0px 18px rgba(0, 0, 0, 0.9));
  z-index: 0;
}

.home .labtop {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 6 / 8;
  justify-self: center;
  margin-left: 1rem;
  z-index: 20;
}
.labtop img:first-child {
  width: 250px;
  height: 250px;
  filter: brightness(0.75) contrast(1.15)
    drop-shadow(8px 8px 7px rgba(179, 222, 142, 0.1));
}

.star2 {
  position: absolute;
  left: 3px;
  top: 20px;
  width: 60px;
  height: 60px;
}
.labtop .codegif {
  width: 180px;
  height: 105px;
}
.codegif {
  position: absolute;
  left: 35px;
  top: 54px;
}

.star1 {
  grid-area: s;
}
.star1 img {
  width: 75px;
  height: 75px;
}

/* INNER grid herunder: */

/* Home siden */

.home .innergrid {
  grid-column: 2 / 7;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary-important);
  margin-left: 2.1rem;
  border-left: 1px solid rgb(48, 47, 47);
  border-bottom: 1px solid rgb(48, 47, 47);
  z-index: 1;

  padding: 20px;
  background: linear-gradient(110deg, rgb(20, 20, 20), #232323);
  box-shadow: 10px 10px 30px #000000;
  position: relative;
  margin-top: 100px;
  padding-right: 130px;
  padding-top: 40px;
  min-width: 230px;
}

.home .highlightName {
  color: var(--primary-green);
  font-weight: bold;
}

.home .highlightSE {
  color: #0990fe;
  font-weight: bold;
}

.innergrid p {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--primary-info);
  letter-spacing: 0.05em;
}

.home .btnmain {
  display: grid;
  border-radius: 999px;
  border: none;
  padding: 0.45rem 1.4rem;
  cursor: pointer;
  color: white;
  white-space: nowrap;
  background: linear-gradient(to right, #0990fe, #0239a8);
}
.home .btnmain:hover {
  background: linear-gradient(to right, #0239a8, #0990fe);
  transform: translateY(-2.2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.986);
}

.home .header {
  margin: 0px;
  position: absolute;
  top: -85px;

  grid-row: 1 / 3;
  grid-column: 1 / 4;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  z-index: 10;
  text-shadow: 0px 0px 4px #000000;
}
.home .header {
  margin: 0px;
  position: absolute;
  top: -85px;

  grid-row: 1 / 3;
  grid-column: 1 / 4;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  z-index: 10;
  text-shadow: 0px 0px 4px #000000;
}

/* About siden herunder */

.about .innergrid {
  grid-column: 2 / 5;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary-important);
  margin-left: 2.1rem;
  border-left: 1px solid rgb(48, 47, 47);
  border-bottom: 1px solid rgb(48, 47, 47);
  z-index: 1;

  padding: 20px;
  background: linear-gradient(110deg, rgb(20, 20, 20), #232323);
  box-shadow: 10px 10px 30px #000000;
  position: relative;
  margin-top: 100px;
  padding-right: 50px;
  padding-top: 40px;
}

.about .highlightName {
  color: var(--primary-green);
  font-weight: bold;
}

.about .highlightSE {
  color: #0990fe;
  font-weight: bold;
}
.about .header {
  margin: 0px;
  position: absolute;
  top: -85px;

  grid-row: 1 / 3;
  grid-column: 1 / 4;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  letter-spacing: 0;
  z-index: 10;
  text-shadow: 0px 0px 4px #000000;
}

.about .main-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  letter-spacing: 0;
}

.aboutme-text {
  font-weight: bold;
}

.about .fullsize-pic {
  width: auto;
  height: 200px;
  position: absolute;
  transform: translateY(-100%);
  right: 0;
  filter: contrast(1.3) drop-shadow(20px 0px 18px rgba(0, 0, 0, 0.9));
}

.about .colum2 {
  grid-column: 5 / 8;
  grid-row: 2;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: var(--primary-important);
  z-index: 1;

  background: linear-gradient(110deg, rgb(20, 20, 20), #232323);
  box-shadow: 10px 10px 30px #000000;
  position: relative;
  max-height: 100px;
  min-width: 200px;
  max-width: 250px;
  margin-top: 200px;
}

.colum2 p {
  margin: 0px;
  padding: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--primary-info);
  letter-spacing: 0.05em;
  text-align: center;
}

/* Main Sektion 2 ( My Specialities and under ) */

#specialties-list {
  display: flex;
  justify-content: space-around;
}

.heading {
  grid-area: h1;
  justify-items: center;
  margin-top: -5rem;
}
.heading h1 {
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 100;

  color: var(--primary-important);
}

.highspeciality {
  color: #0990fe;
}

.containersection2 .cnt,
.portfolio .cnt {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contentbox1 {
  color: #b3de8e;
}

.contentbox2 {
  color: #0990fe;
}
.cnt h2 {
  display: grid;
  justify-items: center;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.contentbox3 {
  color: #b3de8e;
}
.contentbox3 {
  font-weight: 100;
  letter-spacing: 0.05em;
}
.cnt {
  text-align: center;
  background: linear-gradient(110deg, rgb(22, 22, 22), #232323);
  justify-self: center;
  width: 250px;
  box-shadow: 2px 6px 14px rgba(0, 0, 0, 0.884);
  padding: 10px;
  padding-bottom: 30px;
}
.cnt p {
  display: grid;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 100;
  color: var(--primary-important);
}

/* Portfolio sektion */

.portfolio .cnt {
  margin-top: 30px;
}
.portfolio h1 {
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 100;

  color: var(--primary-important);
}

.my-projects-headline {
  justify-items: center;
}

.portfolio .labtop {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 6 / 8;
  justify-self: center;
  margin-left: 1rem;
  z-index: 20;
}
.labtop img:first-child {
  width: 250px;
  height: 250px;
  filter: brightness(0.75) contrast(1.15)
    drop-shadow(8px 8px 7px rgba(179, 222, 142, 0.1));
}

.labtop .codegif {
  width: 180px;
  height: 105px;
}
.codegif {
  position: absolute;
  left: 35px;
  top: 54px;
}

/* Footer Navigation */

.footernav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 90px;
  background: #212121;
  margin-top: 4rem;
  align-items: center;
  justify-items: center;
}
.footernav p {
  font-weight: 100;
  color: var(--primary-info);
}

/* -------- Media Queries ------- */
@media (max-width: 890px) {
  #main-nav {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
  }

  .ulmove {
    grid-column: 1;
    grid-row: 1;
  }

  .midt {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    margin-right: 32px;
  }

  .buttons {
    grid-row: 2;
    grid-column: 3;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .btn {
    display: none;
  }
  #main-nav {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
  }

  .home .labtop {
    display: none;
  }

  .btnmain {
    grid-column: 5;
  }

  .box {
    display: none;
  }
  .home .innergrid {
    margin-bottom: 100px;
    padding-right: 20px;
    grid-column: 1/8;
  }
  .home .innergrid p {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .btnmain .main-text {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin-top: 0px;
  }
  .profilepic {
    transform: translate(-100%, -98%);
    left: 100%;
  }
}

@media (max-width: 585px) {
  .ulmove {
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    padding: 0;
  }

  .midt {
    grid-column: 1 / 4;
    grid-row: 2;
    text-align: center;
    margin: 10px 0px;
  }
  #specialties-list {
    flex-direction: column;
    justify-self: center;
    gap: 20px;
  }
  .left {
    padding-left: 10px;
  }
  .right {
    margin-right: 10px !important;
  }

  /* about me sektion */

  .about .colum2 {
    grid-column: 4 / 5;
    grid-row: 1;
  }

  .about .innergrid {
    grid-column: 2 / 7;
    grid-row: 2;
  }
}
