:root {
  --primary-green: #2e7d32;
  --text-dark: #222;
  --text-light: #fff;
  --primary-hover: #1b5e20;
  /* farve til tekst.  */
}

#main-header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  line-height: 2rem;
  transition: all 0.25s ease;
  z-index: 1000;

  background: linear-gradient(
    180deg,
    #0a0f24 0%,  /* næsten sort-blå top */ 
    #0d1a36 35%,   /* mørk navy mid */ 
    #102d47 65%,   /* kølig blå base */ 
    #182848 100% /* mørk lilla-blå bund */
  );
  color: #fff;
}

#main-header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2.5rem;
  margin: 0.5rem;
  padding: 0;
}

#main-header a {
  transition: font-size 0.3s ease;
}
#main-header.shrink nav {
  line-height: 1.2rem;
  border-bottom-width: 1px;
}

#main-header.shrink a {
  font-size: 1rem;
}

main {
  padding-top: 5px; /* ca. samme højde som navbaren */
}

nav {
  width: 100%;
  background-color: rgba(237, 237, 237, 0.893);
  margin: 0;
  padding: 0.1rem;
  left: 0;
  top: 0;
  border-bottom: 1px solid rgb(173, 173, 173);
}

nav li {
  flex: 1;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}

nav a {
  color: var(--text-light);
  text-decoration: none;
  transition: transform 0s ease, background-color 0.2s ease;
}

nav a:hover {
  color: var(--primary-hover);
  font-style: italic;
  transform: scale(1.2);
  transform-origin: center;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #2d336d57;
}

#about {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 0.5fr);
}

#name {
  align-self: start;
  grid-column: 2 / 6;
}

#profilpic {
  margin-top: 80px;
  border-radius: 50%;
  max-width: 300px;
}

#pic {
  grid-column: 6;
}

h1 {
  margin-top: 0rem;
  color: #363636;
  text-transform: uppercase;
  font-weight: 700;
}

#graf {
  grid-column: 2;
}
#form {
  grid-row: 3;
  grid-column: 2 / 5;
  align-self: flex-start;
}
#formula {
  display: flex;
  gap: 0.5rem;
}

#graf {
  grid-column: 2 / 6;
  grid-row: 2;
  color: #fff;
  font-family: sans-serif;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skill span {
  font-weight: 600;
  display: block;
  margin-bottom: 0.3rem;
}

.bar {
  height: 10px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: linear-gradient(90deg, #00e5ff, #2979ff);
  box-shadow: 0 0 10px #00e5ff;
  border-radius: 10px;
  transition: width 1s ease;
}
